header#header.container-fluid

  // Navigation bar with Bootstrap classes
  nav.navbar.navbar-expand-lg.navbar-light
    .container-fluid
      // Brand/logo section
      a.navbar-brand(href='/').d-flex.align-items-center
        img.pe-3(src='/img/music.png' alt="Logo of VibeSync Website")
        // image taken from https://www.flaticon.com/free-icon/music_5784285?term=music&page=1&position=73&origin=search&related_id=5784285
        | VibeSync